# Composer
/vendor/
/composer.lock

# Node / NPM
/node_modules/
/npm-debug.log
/yarn-error.log
/package-lock.json
/yarn.lock

# Environment files
.env
.env.*.local

# IDE / Editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Test / coverage
coverage/
phpunit.xml.cache
